<h1>Sessions#create</h1>
<p>Find me in app/views/sessions/create.html.erbsdfsdfsdf</p>

<!-- <h1>Current User: </h1> -->
<%=@authorization.uid%>
<%= @current_user.uid %>
<%= link_to "Today", '/today' %>
<%= link_to "Logout", '/logout' %>

